*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.container .nav{
    display: flex;
    position: static;
    width: 100%;
    height: 50px;
}
.container .nav .logo img{
width: 40px;
height: 40px;
margin: 7px;
}
.container .nav a{
text-align: center;
justify-self: center;
 height: 8px;
 border: none;
 background-color: #fff;
 color: #111;
 padding:15px;
 margin-left: 5px;
text-decoration: none;
}
.container .nav a:hover{

    height: 20px;
    background-color: #04AA6D;
    color: #fff;
    text-decoration: none;
}
.container .nav .searchbar input{
    position: relative;
    top: 7px;
   border: 1px solid grey;
    margin: 10px;
    width: 170px;
    height: 35px;
    margin: auto;
    border-radius: 20px;
padding-left: 10px;
font-size: 16px;
}
.container .nav .searchbar input::placeholder{
    padding-left: 10px;
    font-style: italic;
}
.container .nav .searchbar .icon{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: -28px;
   right: -146px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: #111;
}
.container .nav .searchbar .icon:hover{
    background: #ecebeb;
}
.container .nav .searchbar .icon i{
    font-size:large;
padding: 7px;
}
.container .nav .darkmode .icon{
    display: flex;
    align-items: center;
    justify-content: center;
width: 30px;
height: 30px;
margin: 10px;
border-radius: 50%;
}
.container .nav .darkmode .icon:hover{
    background-color: #ecebeb;
}
.container .nav .darkmode .icon i{

}
.container .nav2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* margin-right: -85px; */
}
.container .nav2 i{
    color: #db8ff5;
    margin-right: -20px;
}
.container .nav2 a{
    color: #111;
    text-decoration: none;
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-style: normal;
    font-weight: 100;
}
.container .nav2 .btns{
    display: flex;
    width: 200px;
    border-radius: 20px;
    margin-right: 20px;
}
.container .nav2 .btns .btn-1{
    width: 50%;
    height: 40px;
    border-radius: 20px;
    background-color: #04AA6D;
    color: #fff;
    border: none;
    position: relative;
    left: 30px;
}
.container .nav2 .btns .btn-1:hover{
    background-color: #059862;
}
.container .nav2 .btns .btn-2{
    width: 50%;
    border-radius: 20px;
    color: #111;
    border: none;
    background-color:#b8d7c2;

}
.container .nav2 .btns .btn-2 span{
    position: relative;
    right: -10px;
}

.container .nav2 .btns .btn-2:hover{
    background-color: #059862;
}
.nav2 .item1,.item2,.item3{
    display: flex;
    height: 35px;
    border-radius: 20px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.nav2 .item1{
    background-color: none;
        width: 80px;
        padding-left: 20px;
}
.nav2 .item2 {
    background-color: none;
    width: 110px;
    padding-left: 25px;
}
.nav2 .item3 {
    background-color: none;
    width: 155px;
}

.nav2 .item1:hover{
    background-color: #ededed;
}
.nav2 .item2:hover {
    background-color: #ededed;
}
.nav2 .item3:hover {
    background-color: #ededed;
}


/* scrollbar content */
 .content{
   background-color: #111;
   height: 800px;
   width: 100%; 
   
}
.content .menu-box{
    display: flex;
        position: relative;
       
    }

.content .menu-box a{
    padding: 10px;
    text-decoration: none;

    color: #fff;
    display: flex;
}
.content .menu-box a:hover {
background: #111;
}
.content{
    height: 605px;
    width: 100%;
    background-image: url("../images/background.gif");
}

/* Content start */
.content-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.content-box h1{
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #fff;
}
.content-box h2 {
    font-size: 23px;
    color: #FFF4A3;
    margin-bottom: 30px;
}
.content-box input{
width: 500px;
height: 30px;
border-radius: 50px;
font-size: 17px;
padding: 10px;
background-color: #fff;
}
.content-box input::placeholder{
    padding-left: 20px;
    font-weight: 700;
}
.content-box .sbar{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-bottom: 30px;
}
.content-box .sbar .search-icon{
    width: 100px;
        display: flex;
        height: 50px;
        background-color: #04AA6D;
        border-radius: 0px 50px 50px 0px;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        border: none;
    }
.content-box .sbar .search-icon i{
    color: #fff;
}
.content-box .sbar input{
    width:400px;
    border-radius: 50px 0px 0px 50px;
    border: none;
}
.content-box .link a {
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}
.content-box .link a:hover{
    color: #FFF4A3
}
/* second page */
    .page2 {
        position: relative;
        top: -250px;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-evenly;
            align-items: center;
            background-color: #D9EEE1;
            height: 450px;
        }
svg{
    position: relative;
    top: -172px;
}
.page2 h1{
font-size: 70px;  
margin-left: 70px;
margin-bottom: 30px;
}
.page2 .buttons{
    display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        
}
.page2 .btn1{
                width: 200px;
                height: 43px;
                border-radius: 20px;
                background-color: #04AA6D;
                border: none;
                color: #fff;
            margin-top: 20px;
        }
        .page2 .btn2 {
                    width: 200px;
                    height: 43px;
                    border-radius: 20px;
                    background-color: #FFF4A3;
                    border: none;
                    color: #111;
                margin-top: 20px;
        }
        .page2 .btn3 {
                            width: 200px;
                            height: 43px;
                            border-radius: 20px;
                            background-color: #282A35;;
                            border: none;
                            color: #fff;
                            margin-top: 20px;
        }
            
        .page2 .btn4 {
                                            width: 200px;
                                            height: 43px;
                                            border-radius: 20px;
                                            background-color: #db8ff5;
                                            border: none;
                                            color: #111;
                                        margin-top: 20px;
}
.example {
        width: 400px;
            height: 380px;
            background-color: #E7E9EB;
            padding: 20px;
            box-shadow: 0px 0px 15px 1px #dddddd;
        }

.example .heading{
    margin-bottom: 30px;
   
}
.example .box{
    width: 300px;
    background-color: #fff;
    border-left: 4px solid #04AA6D;
    padding: 15px;
}
.example button{
    width: 200px;
    height: 43px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #04AA6D;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.example button:hover{
    background-color: #059862;
  
}
/* page3 */
   .page2 {
       position: relative;
       top: -250px;
       display: flex;
       flex-direction: row;
       align-content: center;
       justify-content: space-evenly;
       align-items: center;
       background-color: #D9EEE1;
       height: 500px;
   }

   svg {
       position: relative;
       top: -195px;
   }

   .page h1 {
       font-size: 70px;
       margin-left: 70px;
       margin-bottom: 30px;
   }

   .page3 .buttons {
       display: flex;
       flex-direction: column;
       align-items: stretch;
       justify-content: center;
       align-content: center;
       flex-wrap: wrap;

   }

   .page3 .btn1 {
       width: 200px;
       height: 43px;
       border-radius: 20px;
       background-color: #04AA6D;
       border: none;
       color: #fff;
       margin-top: 20px;
   }

   .page3 .btn2 {
       width: 200px;
       height: 43px;
       border-radius: 20px;
       background-color: #FFF4A3;
       border: none;
       color: #111;
       margin-top: 20px;
   }

   .page3 .btn3 {
       width: 200px;
       height: 43px;
       border-radius: 20px;
       background-color: #282A35;;
       border: none;
       color: #fff;
       margin-top: 20px;
   }

   .page3 .btn4 {
       width: 200px;
       height: 43px;
       border-radius: 20px;
       background-color: #db8ff5;
       border: none;
       color: #111;
       margin-top: 20px;
   }
   .page3 h1{
    display: flex;
    font-size: 70px;
    margin-left: 5px;
    margin-bottom: 17px;
    flex-direction: row;
    justify-content: center
   }
   .page3 h3{
    display: flex;
    justify-content: space-around;
}
.page3{
    position: relative;
    top: -250px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff4a3;
    height: 500px;
}
.page3 h3 {
    display: flex;
    justify-content: flex-start;
}
.page4 .buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}
.page4 h1{
    display: flex;
    font-size: 70px;
    color: #fff;
    margin-left: 5px;
    margin-bottom: 17px;
    flex-direction: row;
    justify-content: center
   }
   .page4 h4{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    color: black;
    font-size: 20px;
}
.page4{
    position: relative;
    top: -250px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 500px;
}
.page4 h3 {
    display: flex;
    justify-content: space-around;
    color: white;
    
}
.page4 .btn1 {

    width: 200px;
    height: 43px;
    border-radius: 20px;
    background-color: #04AA6D;
    border: none;
    color: #fff;
    margin-top: 20px;
}
.page4 .btn3 {
    width: 200px;
    height: 43px;
    border-radius: 20px;
    background-color: white;
    border: none;
    color: black;
    margin-top: 20px;
}
.page4 .btn4 {
    
    width: 200px;
    height: 43px;
    border-radius: 20px;
    background-color: #ffc0c7;
    border: none;
    color: #111;
    margin-top: 20px;
}
.page5 .buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.page5 .buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.page5 .btn1 {
    width: 200px;
    height: 43px;
    border-radius: 20px;
    background-color: #04AA6D;
    border: none;
    color: #fff;
    margin-top: 20px;
}

.page5 .btn2 {
    width: 200px;
    height: 43px;
    border-radius: 20px;
    background-color: #FFF4A3;
    border: none;
    color: #111;
    margin-top: 20px;
}

.page5 .btn3 {
    width: 200px;
    height: 43px;
    border-radius: 20px;
    background-color: #282A35;;
    border: none;
    color: #fff;
    margin-top: 20px;
}

.page5 .btn4 {
    width: 200px;
    height: 43px;
    border-radius: 20px;
    background-color: #db8ff5;
    border: none;
    color: #111;
    margin-top: 20px;
}
.page5 h1{
 display: flex;
 font-size: 70px;
 margin-left: 5px;
 margin-bottom: 17px;
 flex-direction: row;
 justify-content: center
}
.page5 h3{
 display: flex;
 justify-content: space-around;
}
.page5{
 position: relative;
 top: -250px;
 display: flex;
 flex-direction: row;
 align-content: center;
 justify-content: space-evenly;
 align-items: center;
 background-color: #fff;
 height: 500px;
}
.page5 h3 {
 display: flex;
 justify-content: flex-start;
}
.page6 .buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.page6 .btn1 {
    width: 200px;
    height: 43px;
    border-radius: 20px;
    background-color: #04AA6D;
    border: none;
    color: #fff;
    margin-top: 20px;
}

.page6 .btn2 {
    width: 200px;
    height: 43px;
    border-radius: 20px;
    background-color: #FFF4A3;
    border: none;
    color: #111;
    margin-top: 20px;
}

.page6 .btn3 {
    width: 200px;
    height: 43px;
    border-radius: 20px;
    background-color: #282A35;;
    border: none;
    color: #fff;
    margin-top: 20px;
}

.page6 .btn4 {
    width: 200px;
    height: 43px;
    border-radius: 20px;
    background-color: #db8ff5;
    border: none;
    color: #111;
    margin-top: 20px;
}
.page6 h1{
 display: flex;
 font-size: 70px;
 margin-left: 5px;
 margin-bottom: 17px;
 flex-direction: row;
 justify-content: center
}
.page6 h3{
 display: flex;
 justify-content: space-around;
}
.page6{
 position: relative;
 top: -250px;
 display: flex;
 flex-direction: row;
 align-content: center;
 justify-content: space-evenly;
 align-items: center;
 background-color: #96d4d4;
 height: 500px;
}
.page6 h3 {
 display: flex;
 justify-content: flex-start;
}
/* boxes */
.boxes{
    display: flex;
    background-color: #08080d;
    margin-top: -250px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

/* box1 */
.boxes .box--1{
    width: 600px;
    height: 250px;
    background-color: #FFC0C7;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}
.boxes .box--1 h1{
    font-size: 50px;
}
.boxes .box--1 h3{
    
}
.boxes .box--1 .btn-box1{
    height: 43px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    background-color: #282A35;
    border: none;
}
.boxes .box--1 .btn-box1:hover{
    height: 43px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
}
/* box2 */
.boxes .box--2{
    width: 600px;
    height: 250px;
    background-color: #FFF4A3;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}
.boxes .box--2 h1{
    font-size: 50px;
}
.boxes .box--2 h3{
    
}
.boxes .box--2 .btn-box2{
    height: 43px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    background-color: #282A35;
    border: none;
}
.boxes .box--2 .btn-box2:hover{
    height: 43px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
}
/* box3 */
.boxes .box--3{
    width: 600px;
    height: 250px;
    background-color: #Fff;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}

.boxes .box--3 h1{
    font-size: 50px;
}
.boxes .box--3 h3{
    
}
.boxes .box--3 .btn-box3{
    height: 43px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    background-color: #282A35;
    border: none;
}
.boxes .box--3 .btn-box3:hover{
    height: 43px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
}
/* box4 */
.boxes .box--4{
    width: 600px;
    height: 250px;
    background-color: #D9EEE1;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}
.boxes .box--4 h1{
    font-size: 50px;
}
.boxes .box--4 h3{
    
}
.boxes .box--4 .btn-box4{
    height: 43px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    background-color: #282A35;
    border: none;
}
.boxes .box--4 .btn-box4:hover{
    height: 43px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
}
/* box5 */
.boxes .box--5{
    width: 600px;
    height: 250px;
    background-color: #96D4D4;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}
.boxes .box--5 h1{
    font-size: 50px;
}
.boxes .box--5 h3{
    
}
.boxes .box--5 .btn-box5{
    height: 43px;
    width: 200px;
    border-radius: 20px;  
    color: #fff;
    background-color: #282A35;
    border: none;
}
.boxes .box--5 .btn-box5:hover{
    height: 43px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
}
/* box6 */
.boxes .box--6{
    width: 600px;
    height: 250px;
    background-color: #E7E9EB;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}
.boxes .box--6 h1{
font-size: 50px;
}
.boxes .box--6 h3{
    
}
.boxes .box--6 .btn-box6{
    height: 43px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    background-color: #0d0e13;
    border: none;
}
.boxes .box--6 .btn-box6:hover{
    height: 43px;
    width: 200px;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
}
/* box end */
/* boxes 2 start */
.boxes--2{
   height: 367px;
    display: flex;
    background-color: #0d0e13;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}
.boxes--2 .box--1{
    width: 600px;
    height: 150px;
    background-color: #FFC0C7;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}
.boxes--2 .box--2{
    width: 600px;
    height: 150px;
    background-color: #FFF4A3;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}
/* boxes 2 end */
/* boxes 3  start */
.boxes--3{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #0d1721;
    font-size: 14px;
    
}
.boxes--3 .box--1{
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    
        width: 248px;
        height: 113px;
        background-color: #E7E9EB;
        margin: 30px;
        border-radius: 10px;
}
.boxes--3 .box--2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
   background-color: #D9EEE1;
   margin: 30px;
   border-radius: 10px;
}
.boxes--3 .box--3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #96D4D4;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFC0C7;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--5{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFF4A3;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--6{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #E7E9EB;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--7{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #D9EEE1;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--8{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #96D4D4;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--9{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFC0C7;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--10{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFF4A3;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--11{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #E7E9EB;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--12{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #D9EEE1;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--13{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #96D4D4;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--14{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFC0C7;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--15{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFF4A3;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--16{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #E7E9EB;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--17{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #D9EEE1;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--18{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #96D4D4;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--19{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFC0C7;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--20{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFF4A3;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--21{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #D9EEE1;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--22{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #D9EEE1;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--23{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #96D4D4;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--24{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFC0C7;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--25{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFF4A3;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--26{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #D9EEE1;
    margin: 30px;
    border-radius: 10px;
}

.boxes--3 .box--27{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #D9EEE1;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--28{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #96D4D4;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--29{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFC0C7;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--30{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #FFF4A3;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--31{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #E7E9EB;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--32{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 113px;
    background-color: #D9EEE1;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--33{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 615px;
    height: 113px;
    background-color: #96D4D4;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--34{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 615px;
    height: 113px;
    background-color: #FFC0C7;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--35{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 615px;
    height: 113px;
    background-color: #FFF4A3;
    margin: 30px;
    border-radius: 10px;
}
.boxes--3 .box--36{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 615px;
    height: 113px;
    background-color: #D9EEE1;
    margin: 30px;
    border-radius: 10px;
}
.boxes--4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d1721;
    padding: 100px;
}
.boxes--4 h6{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    color:#fff;
    margin-bottom: 10px;
}
.boxes--4 p{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
    color:#fff;
    margin-bottom: 50px;
}
.boxes--4 .image{
    width: 942px;
    height: 367px;
}
.boxes--4 .image .btn1-down{
  width: 304px;
  height: 39px;
  color: #fff;
  background-color: #04AA6D;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}
.boxes--4 .image .btn2-down{
    width: 358px;
    height: 39px;
    color: #111;
    background-color: #FFF4A3;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}
.boxes--4 .boxes--5 {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #282A35;
    padding-top: 50px;
    width: 1400px;
}
.boxes--4  .boxes--5 h1,h3{
    color: #111;
}
.boxes--4  .boxes--5 .img-2{
    margin-top: 50px;
}
.boxes--4  .boxes--5 .btn3-down{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 55px;
    background-color: #04AA6D;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
/* boxes--6 */
.boxes--6{
    margin-top: -100px;
    background-color: #D9EEE1;
    padding: 50px;
}
.boxes--6 button{
    margin-top: 30px;
    background-color: #04AA6D;
    width:  300px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
/* boxes--7 */
.boxes--7{
    width: 100%;
    height: 450px;
    background-color: #282A35;
    color: #fff;
}
.boxes--7 h1 {
    padding-top: 50px;
    font-size: 45px;
}
.boxes--7  h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    color: #FFC0C7;
}
.boxes--7 .taxes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    width: 365px;
    margin: auto;
}
.boxes--7 .taxes h5 img{
    margin-right: 20px;
}
.boxes--7 .taxes h5 {
font-size: 17px;
}
.boxes--7  button{
 width: 300px;
 height: 45px;
 border-radius: 30px;
 background-color: #04AA6D;
 color: #fff;
 border: none;
 font-size: 18px;
 font-weight: 700;
}
/* boxes--8 */
.boxes--8 {
background-color: #F3ECEA;
color: #000;
padding-top: 78px;
padding-bottom: 95px
}
.boxes--8 h1 {
font-size: 65px;
font-weight: 700;
}
.boxes--8 h4 {
font-size: 20px;
margin-top: 25px;
}
.boxes--8 img {
width: 150px;
    height: 128px;
    margin-top: 16px;
}
/* boxes--9 */
.boxes--9{
padding: 5%;
height: 421px;
background:#96D4D4
}
.boxes--9 h1{
font-family: 'Freckle Face', cursive;
font-size: 48px
}
.boxes--9 h2{
font-family: 'Freckle Face', cursive;
font-size: 32px;
margin-bottom: 50px;
}
.boxes--9 button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 52px;
    margin-top: 20px;
    font-size: 20px;
    padding: 11px 18px;
    border-radius: 30px;
    border: none;
    background-color: #282A35;
    color: #fff;
    font-weight: 500;
}
.boxes--10 {
    padding: 5%;
    height: 421px;
    background: #282A35;
}

.boxes--10 h1 {
    font-size: 55px;
    color: #fff;
}

.boxes--10 h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}

.boxes--10 .but1 {
    width: 547px;
    height: 192px;
    border: none;
    background-color: #04AA6D;
    color: #fff;
    font-weight: 600;
    margin-right: 40px;
    font-size: 35px;
}
.boxes--10 .but2 {
        width: 547px;
        height: 192px;
    margin-left: 40px;
        border: none;
        background-color: #FFF4A3;
        color: #111;
        font-weight: 600;
            font-size: 35px;
}
/* slideshow css *//*  */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}