.container .nav{
    display: flex;
    width: 100%;
    height: 56px;
}
.container .nav .logo img{
width: 40px;
height: 40px;
margin: 7px;
}
.container .nav select{
 margin-left: 10px;
 height: 50px;
 border: none;
 background-color: #fff;
 color: #111;
 padding:15px;
text-decoration: none;
}
.container .nav a:hover{

    height: 18px;
    background-color: #04AA6D;
    color: #fff;
}
.container .nav .searchbar input{
    position: relative;
    top: 7px;
   border: 1px solid grey;
    margin: 10px;
    width: 170px;
    height: 35px;
    margin: auto;
    border-radius: 20px;
padding-left: 10px;
font-size: 16px;
}
.container .nav .searchbar input::placeholder{
    padding-left: 10px;
    font-style: italic;
}
.container .nav .searchbar .icon{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: -28px;
   right: -137px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: #111;
}
.container .nav .searchbar .icon i{
    font-size:large;
padding: 7px;
}

/* scrollbar content */
.menu-container{
    display: flex;
   background-color: #111;

    width: 390%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
   
    
    font-size: 18px;
    
}
.menu-box a{
    border:2px solid black;
    background-color: #111;
    color:#fff;
    padding: 10px;
    margin: 5px;
    width: 100%;
    text-decoration: none;
    
}
